@model Infrastructure.Models.TipoGestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoGestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idGestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar al listado", "Index")
</p>