@model IEnumerable<Infrastructure.Models.TipoGestion>
@{
    ViewBag.Title = "Index";
}

<h2>Orden de Zapatos</h2>
@using (Html.BeginForm("Save", "Orden", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idGestion)
        </dt>

       

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

       

    </dl>
    <hr />
    <span class="glyphicons glyphicons-hand-left"></span>
    <div id="resultadoDetalle">
        @if (Web.ViewModel.Carrito.Instancia.Items.Count() > 0)
        {
            @Html.Partial("~/Views/TipoGestion/_DetalleOrden.cshtml", (List<Web.ViewModel.ViewModelOrdenDetalle>)ViewBag.DetalleOrden)
        }
        else
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                La orden no tiene zapatos asignados
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

    </div>
    <hr />
    <!-- Submit -->
    <button type="submit" class="btn btn-success float-right" id="btnOrdenar">
        <span class="glyphicon  glyphicon-floppy-save"></span>
        Guardar
    </button>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript">

        //Actualizar cantidad de zapatos en el carrito
        //Cambio de cantidad en caja de texto
        function updateCantidad(ctr) {
            var txtCantidad = $(ctr);
            var cantidad = txtCantidad.val();
            var id = txtCantidad.data("Zapatoid");
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Orden/actualizarCantidad",
                data: { "idZapato": id, "cantidadTotal": cantidadTotal },
                success: function (data) {
                    $("#resultadoDetalle").html('');
                    $("#resultadoDetalle").html(data);
                    updateCantLibros();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }
        //Actualizar cantidad de libros en el menú
        function updateCantZapatos() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/TipoGestion/actualizarOrdenCantidad",
                success: function (data) {
                    $("#cantidadLibros").html('');
                    $("#cantidadLibros").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }


    </script>
}

