@model Infrastructure.Models.Zapato

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Calzado</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idZapato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idZapato)
        </dd>

        <dts
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadTot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadTot)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idZapato}) |
    @Html.ActionLink("Regresar a Calzado", "Index")
</p>
