@model IEnumerable<Infrastructure.Models.Zapato>

@{
    ViewBag.Title = "Bodega";
}

<h2></h2>

<div id="ajaxLoader" class="center-block" alt="Cargando ..." style="height:100px;width:100px; display:none">
    <img src="~/Images/loading.gif" />
</div>
<div class="col-lg-9">
    <div id="resultado" class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-3">
                <div class="card">

                    <div class="card-body">
                        <img src="~/Image/calzado-air-force-1-mid-07-lv8-f6tpXL.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.descripcion)</h5>
                        <p class="card-text">   @Html.DisplayNameFor(model => model.color):  @Html.DisplayFor(modelItem => item.color)</p>

                        <p class="card-text">   @Html.DisplayNameFor(model => model.cantidadTot):  @Html.DisplayFor(modelItem => item.cantidadTot)</p>
                        <div class="card-body">
                            @Ajax.ActionLink("Ordenar",//Texto para el usuario
                                   "ordenarZapato",//Acción a llamar
                                   "Entradas_Salidas",
                                   new
                                   {
                                       idZapato = item.idZapato
                                   },//Parámetros a enviar
                                   new AjaxOptions
                                   {
                                       UpdateTargetId = "cantidadZapatos",
                                       InsertionMode = InsertionMode.Replace,
                                       HttpMethod = "GET",
                                   }, new { @class = "btn btn-primary" }
                                   )
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}
