@model Infrastructure.Models.Proveedor

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Proveedor</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProveedor)
        </dd>


        @*
        <dt>
            @Html.DisplayNameFor(model => model.idContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idContacto)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProveedor }) |
    @Html.ActionLink("Regresar a Proveedores", "Index")
</p>
