@model Infrastructure.Models.Proveedor

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Proveedor</h2>

<div>

    <div>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                    <b>@Html.DisplayNameFor(model => model.idProveedor):</b> @Html.DisplayFor(model => model.idProveedor)<br />
                    <b>@Html.DisplayNameFor(model => model.nombre):</b> @Html.DisplayFor(model => model.nombre)<br />
                    <b>@Html.DisplayNameFor(model => model.telefono):</b> @Html.DisplayFor(model => model.telefono)<br />
                    <b>@Html.DisplayNameFor(model => model.pais):</b> @Html.DisplayFor(model => model.pais)<br />


                    <div class="col p-4 d-flex flex-column position-static">

                        <b>@Html.DisplayNameFor(model => model.Contacto):</b>
                        <ul>
                            @foreach (var c in Model.Contacto)
                            {

                                <li>@c.nombre</li>
                            }
                        </ul>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">

                        <b>@Html.DisplayNameFor(model => model.Zapato):</b>
                        <ul>
                            @foreach (var c in Model.Zapato)
                            {

                                <li>@c.descripcion</li>
                            }
                        </ul>
                    </div>

                    <p class="card-text mb-auto">
                        <b>@Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)<br />
                        <b>@Html.DisplayNameFor(model => model.direccion):</b> @Html.DisplayFor(model => model.direccion)<br />
                    </p>

                </div>

                </div>
            </div>
        </div>

    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idProveedor }) |
        @Html.ActionLink("Regresar a Proveedores", "Index")
    </p>
