@model Infrastructure.Models.Entradas_Salidas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entradas_Salidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idEntradas_Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEntradas_Salidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idGestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idZapato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idZapato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
