@model Infrastructure.Models.Entradas_Salidas
@{
    ViewBag.Title = "Details";
}

<h2>Detalle Zapato</h2>

<div>
    <h4>Zapato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idEntradas_Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEntradas_Salidas)
        </dd>

        <dts @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zapato.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUbicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUbicacion)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Zapato.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </dt>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idZapato }) |
    @Html.ActionLink("Volver", "Index")
</p>
