@model IEnumerable < Infrastructure.Models.Entradas_Salidas>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idEntradas_Salidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoGestion.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zapato.descripcion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEntradas_Salidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoGestion.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zapato.descripcion)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idEntradas_Salidas })

            </td>
        </tr>
    }

</table>
