@model IEnumerable<Infrastructure.Models.Entradas_Salidas>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idEntradas_Salidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idZapato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idEntradas_Salidas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idZapato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.idEntradas_Salidas }) 

        </td>
    </tr>
}

</table>
