@{ int cantidadZapatos = Web.ViewModel.Carrito.Instancia.GetCountItems();
}

<a href="@Url.Action("Index", "Entradas_Salidas")" class="nav-link">
    Orden<span class="badge badge-light">   @cantidadZapatos</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    < script >
    @Html.Raw(@ViewBag.NotiCarrito);
    </ script >
}

